# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Trabalho-web/dist/
Trabalho-web/nbproject/private/private.properties
Trabalho-web/nbproject/private/private.xml
Trabalho-web/src/java/com/ufpr/tads/web2/dao/ConnectionFactory.java
Trabalho-web/nbproject/private/private.properties
Trabalho-web/build/web/WEB-INF/lib/jasperreports-6.2.2.jar
Trabalho-web/nbproject/private/private.xml
